/* sets the background color to orange shade */
body{
	background-color: #ffbb99;
	
}
/* sets all h2 elements to a certain color and font size */
h2{
	font-size: 30px;
	color:  #1f7a1f;
}
/* sets all h3 elements to a certain color and font size */
h3{
	font-size: 25px;
	color:  #1f7a1f;
}
/* sets all label elements to a specific font size and margin for alignment with input fields */
label{
	font-size: 20px;
	margin-right: 145px
}
/* sets all input elements to a certain margin, padding, border style */
input{
  	  margin:10px 20px 10px 0;
	  padding: 10px 15px;
	  border: 3px solid #008CBA;
	  border-radius: 5px;
}
/* whenever an input field is focus it changes its background color */
input:focus{
	background-color: #80dfff;
}
/* sets id records (div) to a certain size and border style */
#records{
	border: 2px solid red;
	height: auto;
	width: 50%;
}
/* sets id addRec (button) to a certain styles  */
#addRec{
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 9px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	margin: 4px 2px;
	border-radius: 5px;
	cursor: pointer;
}
/* sets the background color of button whenever it is hovered */
#addRec:hover{
	background-color: #007399;
}